<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sram.mybatis.lesson01.pojo.Teacher">

	<!-- 查询用户表记录数 -->
	<select id="queryList" resultType="sram.mybatis.lesson01.pojo.Teacher">
		select Tno,Tname from teacher
	</select>
	
</mapper>